PRGNAM="kconfigwidgets"
VERSION="5.30.0"
HOMEPAGE="https://community.kde.org/Frameworks"
DOWNLOAD="http://download.kde.org/stable/frameworks/5.30/kconfigwidgets-5.30.0.tar.xz"
MD5SUM="7ea2abe3515ad479b743d2447a194483"
DOWNLOAD_x86_64=""
MD5SUM_x86_64=""
REQUIRES="kauth kwidgetsaddons kcodecs kconfig kguiaddons ki18n kdoctools"
MAINTAINER="Willy Sudiarto Raharjo"
EMAIL="willysr@slackbuilds.org"
