PRGNAM="kconfigwidgets"
VERSION="5.25.0"
HOMEPAGE="https://community.kde.org/Frameworks"
DOWNLOAD="http://download.kde.org/stable/frameworks/5.25/kconfigwidgets-5.25.0.tar.xz"
MD5SUM="03bc05f0c72386a143d1b002178f95f6"
DOWNLOAD_x86_64=""
MD5SUM_x86_64=""
REQUIRES="kauth kwidgetsaddons kcodecs kconfig kguiaddons ki18n kdoctools"
MAINTAINER="Willy Sudiarto Raharjo"
EMAIL="willysr@slackbuilds.org"
