PRGNAM="kconfigwidgets"
VERSION="5.37.0"
HOMEPAGE="https://community.kde.org/Frameworks"
DOWNLOAD="https://download.kde.org/stable/frameworks/5.37/kconfigwidgets-5.37.0.tar.xz"
MD5SUM="e13440e05800f7187c7e98eb6babfa96"
DOWNLOAD_x86_64=""
MD5SUM_x86_64=""
REQUIRES="kauth kwidgetsaddons kcodecs kconfig kguiaddons ki18n kdoctools"
MAINTAINER="Willy Sudiarto Raharjo"
EMAIL="willysr@slackbuilds.org"
