PRGNAM="kconfig"
VERSION="5.28.0"
HOMEPAGE="https://community.kde.org/Frameworks"
DOWNLOAD="http://download.kde.org/stable/frameworks/5.28/kconfig-5.28.0.tar.xz"
MD5SUM="bbc99940debba203c8d7ddb8a82ce95b"
DOWNLOAD_x86_64=""
MD5SUM_x86_64=""
REQUIRES="extra-cmake-modules"
MAINTAINER="Willy Sudiarto Raharjo"
EMAIL="willysr@slackbuilds.org"
