PRGNAM="kconfig"
VERSION="5.37.0"
HOMEPAGE="https://community.kde.org/Frameworks"
DOWNLOAD="https://download.kde.org/stable/frameworks/5.37/kconfig-5.37.0.tar.xz"
MD5SUM="b25eebcac5447af9435f2effc2f566ce"
DOWNLOAD_x86_64=""
MD5SUM_x86_64=""
REQUIRES="extra-cmake-modules"
MAINTAINER="Willy Sudiarto Raharjo"
EMAIL="willysr@slackbuilds.org"
