PRGNAM="kconfig"
VERSION="5.27.0"
HOMEPAGE="https://community.kde.org/Frameworks"
DOWNLOAD="http://download.kde.org/stable/frameworks/5.27/kconfig-5.27.0.tar.xz"
MD5SUM="e1a633ed10804ad00d53978bcfd906e7"
DOWNLOAD_x86_64=""
MD5SUM_x86_64=""
REQUIRES="extra-cmake-modules"
MAINTAINER="Willy Sudiarto Raharjo"
EMAIL="willysr@slackbuilds.org"
